body{
    height: 100%;
    background: black;
    display: flex;
    align-items: start;
    justify-content: center;
}

#scoreDisplay{

    font-family: 'monospace', sans-serif;
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 3px 1px 4px rgb(202, 202, 202);
    z-index: 10;
    border: 3px solid whitesmoke;
    padding: 5px;
    margin: 15px;
}

canvas{
    background-color: black;
    border: 10px solid blueviolet;
    margin-top: 15px;
}

.Pause{
    border: 15px solid blueviolet;
    background-color: blueviolet;
    color:blanchedalmond;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
    margin: 15px;
    font-size:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.non-game {
    margin: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid ghostwhite;
    margin: none;
    justify-content: center;
    align-items: center;
}